body {
    font-family: "Times New Roman", Times, serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

/* new debugged color change? */
body {
    background: linear-gradient(236deg, #cebaf5, #babef5, #badbf5);
    background-size: 400% 400%;
    animation: background-1 15s ease infinite;
}

@keyframes background-1 {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

  a {
    color: black;
    font-weight: bold;
  }
  a:hover {
    color: gray;
    font-weight: bold;
    text-decoration: none;
  }
.menuColumn {
    position: fixed;
    top: 0; /* Adjust if you want the menu to have some space from the top */
    left: 0;
    width: 180px; /* Set a fixed width for the left menu column */
    z-index: 100;
}

.picColumn {
    margin-left: 200px; /* Match this to the width of .menuColumn plus some space */  
    padding-top: 30px;
    max-width: 100%; /* Limits the width of the photo slideshow column */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.img-center {
  display: flex;
  justify-content: center;
}

.row-spaced {
  display: flex;
  justify-content: center;
    align-items: center; /* hoping this centers the album image vertically in the row */
    gap: 100px;
}
  .text-link {
    transform: skewY(-9deg);
    -webkit-transform: skewY(-9deg);
    -moz-transform: skewY(-9deg);
    position: absolute;
  }
  .text-link-home {
    /* top: 24%;
    left: 9%; */
  }
  .text-link-pages {
    top: 54%;
    left: 9%;
  }
  .text-link h4 {
    display: inline-block;
  }
  .text-link {
    transition: transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease;
    -moz-transition: -moz-transform .2s ease;
  }
  .text-link:hover {
    transform: skewY(-3deg) scale(1.2);
    -webkit-transform: skewY(-3deg) scale(1.2);
    -moz-transform: skewY(-3deg) scale(1.2);
  }

  .home-link {
    transition: transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease;
    -moz-transition: -moz-transform .2s ease;
  }
  .home-link:hover {
    transform: skewY(2deg) scale(1.1);
    -webkit-transform: skewY(2deg) scale(1.1);
    -moz-transform: skewY(2deg) scale(1.1);
  }

  .home-img {
    max-width:100%;
    max-height:100%;
  }

  .more-info {
    width: 100%;
    height: 100%;
    height: auto;
  }

  .info-box {
    z-index: 3;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display:none;
    /* pointer-events: none; */
    padding: 20%;
  }
  .close {
    text-align: right;
    font-size: 3rem;
  }
  .contact-info-right {
    position: fixed;
    bottom: 0%;
    right: 1%;
  }
  .contact-info-left {
    position: fixed;
    bottom: 0%;
    left: 1%;
  }

    .contact-info-middle {
    position: fixed;
    bottom: 0%;
    left: 40%;
    padding-bottom: 20px;
    z-index: 9999;
  }

  .title-kerning {
    letter-spacing: .5em;
  }

  .body-kerning {
    letter-spacing: .3em;
  }

  .date-text {
    transform: skewY(-9deg);
    -webkit-transform: skewY(-9deg);
    -moz-transform: skewY(-9deg);
  }

  .h-315 {
    height: 315px;
  }

  .h-95 {
    height: 95% !important;
  }

  .of-cover {
    object-fit: cover;
  }
